h1 {
    color: lightyellow;
    background-color: black;
    width: 500px;
    text-align: center;
}

body {
    background: linear-gradient(135deg, yellow, white);
    font-family: Arial, Helvetica, sans-serif;
}

.motto {
    font-style: italic;
    filter: opacity(50%);
}

img {
    margin: 10px;
    padding: 10px;
    border-radius: 0 100px 0 100px;
    width: 35%;
    background-color: white;
}
